
    

    
.footer{

    /* margin-top: 10px; */

    margin-left: 5%;

    margin-right: 5%;

    background: #313a42;

    color: #fff;

    margin-bottom: 2px;

}



.footer .container{

    text-align: justify;



}



.footer .container div span{

    padding-right: 20px;

}
